CREATE DATABASE anexgrid
GO
USE [anexgrid]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 15/03/2016 7:33:24 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Empleado](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Profesion_id] [int] NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Correo] [varchar](50) NOT NULL,
	[Sexo] [tinyint] NOT NULL,
	[FechaNacimiento] [varchar](20) NOT NULL,
	[FechaRegistro] [varchar](20) NOT NULL,
	[Sueldo] [decimal](18, 2) NOT NULL CONSTRAINT [DF_Empleado_Sueldo]  DEFAULT ((0)),
 CONSTRAINT [PK_empleado] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Profesion]    Script Date: 15/03/2016 7:33:24 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Profesion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_profesion] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Empleado] ON 

INSERT [dbo].[Empleado] ([id], [Profesion_id], [Nombre], [Apellido], [Correo], [Sexo], [FechaNacimiento], [FechaRegistro], [Sueldo]) VALUES (1, 5, N'Felix', N'Perez Marocho', N'fperez.marocho@outlook.com', 1, N'1998-02-11', N'2015-03-14', CAST(5000.00 AS Decimal(18, 2)))
INSERT [dbo].[Empleado] ([id], [Profesion_id], [Nombre], [Apellido], [Correo], [Sexo], [FechaNacimiento], [FechaRegistro], [Sueldo]) VALUES (2, 3, N'Miguel', N'Mazuda Rodríguez', N'mmazuda.rodríguez@anexsoft.com', 1, N'1993-02-11', N'2014-02-11', CAST(5000.00 AS Decimal(18, 2)))
INSERT [dbo].[Empleado] ([id], [Profesion_id], [Nombre], [Apellido], [Correo], [Sexo], [FechaNacimiento], [FechaRegistro], [Sueldo]) VALUES (3, 2, N'Cesar', N'Mazuda Díaz', N'cmazuda.díaz@outlook.com', 1, N'1985-12-25', N'2014-07-01', CAST(5000.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[Empleado] OFF
SET IDENTITY_INSERT [dbo].[Profesion] ON 

INSERT [dbo].[Profesion] ([id], [Nombre]) VALUES (1, N'Abogado')
INSERT [dbo].[Profesion] ([id], [Nombre]) VALUES (2, N'Bombero')
INSERT [dbo].[Profesion] ([id], [Nombre]) VALUES (3, N'Doctor')
SET IDENTITY_INSERT [dbo].[Profesion] OFF
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD  CONSTRAINT [FK_empleado_profesion] FOREIGN KEY([Profesion_id])
REFERENCES [dbo].[Profesion] ([id])
GO
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [FK_empleado_profesion]
GO
